<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
</head>
<body>
    <div class="d_flex container">
        <div id="app"  class="d_flex">
            <!-- form per inserire le task -->
            <img :src="img" alt="">
            
            <h1>Ciao Beatrix</h1>
            <p>Inserisci i nomi dei traditori e compi la tua vendetta!</p>
            <div class="form_task d_flex">
                <input id="insert" type="text" @keyup.13="insertTask" v-model="toDo">
            <button @click="insertTask">Add Task</button>
            </div>
            <!-- lista delle task -->
           <div class="list_task">
            <ul id="to_do" v-if="taskList.length > 0">
                <li v-for="(task, index) in taskList" >{{task}}<i class="far fa-times-circle" @click="cancelTask(index)"></i> </li>
            </ul>
           <div class="fine" v-else >
            <p>La tua vendetta ha finito il suo corso!</p>
            <audio volume autoplay>
                <source src="./assets/audio/bill_dies.mp3" type="audio/mpeg">
            </audio>
            
           </div>
           </div>
    
        </div>
    </div>
    <!-- js & library vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>